<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.management.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.fc.management.entity.Comment">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="gameId" column="game_id" jdbcType="VARCHAR"/>
            <result property="targetId" column="target_id" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,content,
        game_id,target_id,is_deleted,
        gmt_create,gmt_modified
    </sql>
    <select id="hasChildren" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from comment where target_id = #{id}
    </select>
</mapper>
